<%=current_user.username if current_user %>
<button onclick="window.location.href = '/logout'">log out</button>

<form method="post" action ="/speak">
	<label for="title">Title:</label>
	<input type="text" name="[think][title]" value="" placeholder="">
	<label for="think">Thought:</label>
	<input type="text" name="[think][post]" maxlength="150">
	<input type="submit">
</form>




<ul>
<%  @posts.each do |i| 
  	i = i[:post] %>
	<li><a href = "<% %>"><%=i%></a></li>
<% end %>
</ul>

