
	<div class="container">
		<header>
			<h1 class="intro">Thoughts</h1>
			<p class="lead">This is thoughts, Share what you think with friends.</p>
		</header>
		<form class="tform login" method="post" action="/sign-in">
			<a href="/"class="ghost btn link">Sign Up</a>
			<a href= "/signup"class="ghost btn link">Sign In</a>
			<div class="inputs">
			<label for="username">Username</label>
			<div>
			<input type="text" name="username">
			</div>
			<div>
			<label for="password">Password</label>
			</div>
			<div>
			<input type="text" name="password">
			</div>
			<input class="ghost btn" type="submit">
			<div>
		</form>
	</div>









