<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link href="<%= url('/css/normalize.css') %>" rel="stylesheet" type="text/css" />
	<link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css" />
</head>
<body class="full-img">
 <%=yield %>
</body>
</html>